{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}BMA Settings{% endblock title %}

{% block main_content %}
  <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <th>UUID</th>
          <td>{{ user.pk }}</td>
        </tr>
        <tr>
          <th>Handle</th>
          <td>{{ user.handle }}</td>
        </tr>
      <tr>
        <th>Member Since</th>
        <td>{{ user.created_at }}</td>
      </tr>
        <tr>
          <th>Description</th>
          <td>
            <a href="{{ user.description }}">{{ user.description|default:"N/A" }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock main_content %}
